body {
}

.containerMarginTop {
    margin-top: 1em;
}
.panel-default>.panel-heading {
    background: linear-gradient(#002b80 0%,#003cb3 100%) !important;
    /* Auch schick
    background: linear-gradient(#333 0%,#444 100%); */
    color: white !important;
}
.panel-default {
    border-color: lightgray !important;
}

.notFirst:hover {
    background-color: #f2f2f2;
}

.btn:hover {
    color: #2775BA !important;
}

h2 {
    color: white !important;
}