.containerMarginTop {
    margin-top: 1em;
}
.panel-default>.panel-heading {
   background: linear-gradient(#03A9F4 100%, #0288d1 0%) !important;
    /*background-color: #03A9F4 !important;
    background: linear-gradient(#333 0%,#444 100%);*/
    color: white !important;
}
.panel-default {
    border-color: #BDBDBD !important;
    color: #212121 !important;
}

.notFirst:hover {
    background-color: #B3E5FC;
}

.btn:hover {
    color: #757575 !important;
}

h2 {
    color: white !important;
}

table {
    color: #212121 !important;
}

.container {
    cursor: default;
}