.tdQuantity {
    width: 300px;
}

.submitButton {
    width: 200px;
    float: left;
}

.trSubHeader {
    height: 40px;
    font-weight: bold;
    vertical-align: bottom;
}

table {
    horiz-align: left;
    vertical-align: center;
}

select {
    width: 200px;
}

.textInput {
    width: 200px;
    text-align: left;
}

.tdApplicantView {
    width: 200px;
    text-align: center;
}
